<%-include ('./partials/header.ejs')%>
  <body>
    <%-include ('./partials/navbar.ejs')%>


    <div class="container ">
      <div class="card-group m-5">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">Lorem, ipsum dolor.</h5>
            <p class="card-text">Lorem ipsum dolor sit amet consectetur..</p> 
            <a href="./registration" class="btn btn-success">Register</a>
          </div>
        </div>
     
      
        <div class="card" >
          <div class="card-body">
            <h5 class="card-title">Lorem, ipsum dolor.</h5>
            <p class="card-text">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Non!</p>
            <a href="/showUser" class="btn btn-warning">Show Users</a>
          </div>
        </div>
  
     
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">Lorem ipsum dolor sit amet.</h5>
            <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Officiis, veritatis.</p>
            <a href="/contact" class="btn btn-info">Contact</a>
          </div>
        </div>
      
      </div>
    </div> <!-- fim container -->
    
  </body>
  <%-include ('./partials/footer.ejs')%>
